* {
    box-sizing: border-box;
    list-style: none;

}
body {
    margin: 0;
    padding: 0;
    text-align: center;
    background-image: url(https://github.com/suntansuntan/portfolio/blob/master/portforio2.jpg?raw=true);
    background-size: cover;
    background-attachment: fixed;
}
header {
    height: 60px;
    width: 100%;
}
.content {
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}
.header-left h1 {
    float: left;
    font-family: fantasy;
    font-size: 100px;
    line-height: 10px;
    margin-left: 15px;
    color: black;
}
.header-right h2 {
    float: right;
    font-size: 50px;
    font-family: fantasy;
    width: 50%;
    color: white;

}
.left-content {
    float: left;
    width: 50%;
    overflow: hidden;
}

.profile-content {
    margin-top: 80px;
    text-align: center;
    display: inline-block;
    margin-bottom: 25px;
}
.profile-content h2 {
    font-size: 30px;
    margin-bottom: 0;
}
.profile-content img {
    width: 100px;
    float: left;
    margin: 0 20px 0 120px;
}
.profile-status p {
    margin: 0 auto;
    text-align: left;
}
.profile-status {
    float: left;
    margin-top: 20px;
}
.PR {
    clear: left;
    padding-top: 15px;
}
.PR p {
    width: 520px;
    margin: 0 auto;
    text-align: left;
}
.pr-title {
    text-align: center;
    font-size: 30px;
    margin: 0;
    padding-top: 25px;
}
.skile {
    overflow: hidden;
    width: 520px;
    margin: 0 auto;
}
.skile-map {
    width: 100%;
    text-align: center;
    float: left;
}
.skile h4 {
    font-size: 30px;
    margin-bottom: 0;
    margin-top: 25px;
}
.skile-map img {
    width: 70px;
    margin: 0 auto;
    float: left;
}
.skile-menu {
    float: left;
    text-align: left;
}
.skile-menu ul {
    margin: 0 0 30px 0;
    
}
.right-content {
    float: right;
    width: 50%;
    
}
.portfolio-content {
    margin-top: 100px;

}
.portfolio {
    color: white;
    overflow: hidden;
    width: 50%;
    margin: 0 auto 20px auto;
}
.portfolio a:hover {
    opacity: 0.6;
}
.portfolio img {
    width: 400px;
}
.portfolio-text {
    text-align: left;
}
